<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="index"></div>
</head>

<body style="background-color: darkgrey">
    <div class="row" style="margin-left: 5%;margin-right: 5%;padding-top: 20px;
        padding-bottom: 20px;background-color: whitesmoke">
        <!--展示面板-->
        <div class="col-lg-8 col-md-11 col-sm-12 col-xs-12">
            
            
            
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img alt="..." class="media-object" src="../static/images/spinner.gif">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    asdvgbhnjsadvgbhnj
                </div>
            </div>
        
            
            
        </div>
        <!--中间一格子留白-->
        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
        <!--提示信息-->
        <div class="col-lg-3 col-md-11 col-sm-12 col-xs-12" style="background-color: gold"></div>
      
    </div>


</body>
