<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<div th:insert="header::h5-pre"/>
<link href="/css/home.css" rel="stylesheet"/>


<div class="layui-body" style="margin-top: 60px" th:if="${pageHelper!=null}">
    <!-- 独特内容 -->
    <div class="row" style="padding: 15px;">
        <!--列表-->
        <div class="col-lg-6 col-md-8 col-sm-10">
            <!--排序导航条-->
            <span>
                <div style="margin-top: 10px;float:right;">
                <form th:if="${pageHelper!=null}" action="#" class="form-inline" id="page-list-order" method="get" th:id="list-order-form">
                    <input hidden="hidden" name="size" th:value="${pageHelper.size}"/>
                    <input hidden="hidden" name="order" th:id="list-order-input" th:value="${pageHelper.order}"/>
                    <ul class="nav nav-pills">
                        <li role="presentation">
                            <button class="btn btn-default" id="list-order-create"
                                    th:classappend="${pageHelper.order==1||pageHelper.order==2}?'btn-info'"
                                    type="button">
                                发表时间
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-up"
                                        th:if="${pageHelper.order==2}"></span>
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-down"
                                        th:if="${pageHelper.order==1}"></span>
                            </button>
                        </li>
                        <li role="presentation">
                            <button class="btn btn-default" id="list-order-modified"
                                    th:classappend="${pageHelper.order==3||pageHelper.order==4}?'btn-info'"
                                    type="button">
                                回复时间
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-up"
                                        th:if="${pageHelper.order==4}"></span>
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-down"
                                        th:if="${pageHelper.order==3}"></span>
                            </button>
                        </li>
                        <li role="presentation">
                            <button class="btn btn-default" id="list-order-count"
                                    th:classappend="${pageHelper.order==5||pageHelper.order==6}?'btn-info'"
                                    type="button">
                                回复数
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-up"
                                        th:if="${pageHelper.order==6}"></span>
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-down"
                                        th:if="${pageHelper.order==5}"></span>
                            </button>
                        </li>
                    </ul>
        
                </form>
            </div>
                <h2 th:text="${sort!=null}?${sort}:'全部'"></h2>
            </span>
            <!--列表-->
            
            <ul th:each="article:${pageHelper.publishes}" th:if="${pageHelper!=null}&&${not #lists.isEmpty(pageHelper.publishes)}">
                <div style="height: 170px; padding: 10px;margin: 20px;
                border: 1px solid #eee;border-radius: 3px;
                border-left-width: 5px; border-left-color: #1b809e;
                border-top-width: 2px; border-top-color: #66e9ff;
                border-bottom-width: 1px; border-bottom-color: #0e364a;">
                    <!--头-->
                    <h3 class="media-heading">
                        <a th:href="'/article/'+${article.id}" th:text="${article.title}"/>
                    </h3>
                    <hr>
                    <!--左-->
                    <div class="media-left">
                        <a th:href="'/profile/'+${article.author.id}+'/article'">
                            <p>
                                <img alt="查看作者专栏" class="img-circle" style="width: 60px;height: 60px"
                                        th:src="${article.author.avatarUrl}">
                            </p>
                            <p>
                                    <span aria-hidden="true" class="glyphicon glyphicon-user"
                                            style="font-size: 12px;color: #0095dd;margin-top: 5px;"
                                            th:text="${article.author.name}"></span>
                            </p>
                        </a>
                    </div>
                    <!--右-->
                    <div class="media-body" id="my-doc-content">
                        <!--div 限定大小，超出文字省略-->
                        <p class="my-doc-content" th:text="${article.descriptionDoc}"/>
                    </div>
                    
                    <!--脚-->
                    <div>
                         <span style="font-size: 14px;font-weight: normal;color: #999999;margin-left: 80px;" th:text="'创建时间'+${#dates.format(article.gmtCreate,'yy/MM/dd HH:mm')}
                                +' | 最新回复'+${#dates.format(article.gmtModified,'yy/MM/dd HH:mm')}
                                +' | '+${article.viewCount}
                                +'次查看 | '+${article.commentCount}
                                +'条回复 | '+${article.likeCount}+'个赞'"/>
                    </div>
                
                </div>
            
            
            </ul>
            <!--分页-->
            <nav aria-label="Page navigation">
                <!--页标-->
                <ul class="pagination" id="change-page" style="float: left;margin-left: 20px;margin-right: 20px;">
                    <!--位置变来变去不好-->
                    <!--首页和前页，隐藏占位-->
                    <li th:class="${pageHelper.showFirstPage}?'':'hideden-placehode'">
                        <a th:href="'/home?page=1&size='+${pageHelper.size}">&laquo;</a>
                    </li>
                    <li th:class="${pageHelper.showPrevious}?'':'hideden-placehode'">
                        <a th:href="'/home?page='+(${pageHelper.currentPage}-1)+'&size='+${pageHelper.size}">&lt;</a>
                    </li>
                    <!--5个页码-->
                    <li th:class="${pageHelper.currentPage==page}?'active':''" th:each="page:${pageHelper.pageList}"
                            th:if="${not #lists.isEmpty(pageHelper.pageList)}">
                        <a th:href="'/home?page='+${page}+'&size='+${pageHelper.size}" th:text="${page}"></a>
                    </li>
                    <!--下页和尾页,隐藏占位-->
                    <li th:class="${pageHelper.showNext}?'':'hideden-placehode'"><a
                            th:href="'/home?page='+(${pageHelper.currentPage}+1)+'&size='+${pageHelper.size}">&gt;</a>
                    </li>
                    <li th:class="${pageHelper.showEndPage}?'':'hideden-placehode'"><a
                            th:href="'/home?page='+${pageHelper.maxPage}+'&size='+${pageHelper.size}">&raquo;</a>
                    </li>
                </ul>
                <!--跳页-->
                <ul class="pagination" style="float: left;margin-left: 20px;margin-right: 20px;">
                    <form action="#" class="form-inline" method="get">
                        <input class="form-control" name="page" style="width: 90px;padding-left: 6px;"
                                th:placeholder="'共'+${pageHelper.maxPage}+'页'" type="number">
                        <input hidden="hidden" name="size" th:value="${pageHelper.size}"/>
                        <input class="btn btn-primary" type="submit" value="跳页"></input>
                    </form>
                </ul>
                <!--设定页大小-->
                <ul class="pagination" style="float: left;margin-left: 20px;margin-right: 20px;">
                    <form action="#" class="form-inline" method="get">
                        <label>每页</label>
                        <input class="form-control" name="size" style="width: 66px;" th:placeholder="${pageHelper.size}"
                                type="number">
                        <label>条</label>
                        <input class="btn btn-primary" type="submit" value="设定"></input>
                    </form>
                </ul>
            </nav>
        </div>
        <!--副面板-->
        <div class="col-lg-4 col-md-3 col-sm-2" style="background-color: silver"></div>
    </div>
</div>
</html>





