<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="header"></div>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed"
                        data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                    <span class="sr-only">个人博客</span>
                </button>
                <a class="navbar-brand" href="#">个人博客</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input class="form-control" placeholder="搜索话题" type="text">
                    </div>
                    <button class="btn btn-default" type="submit">搜索</button>
                </form>
                <li >
                    <a href="/publish">发表页(暂时加上的链接)</a>
                </li>
                
                <ul class="nav navbar-nav navbar-right">
                    
                    <li th:if="${session.user == null}">
                        <a th:href="${session.githubHref}">登录</a>
                    </li>
                    
                    <li class="dropdown" th:unless="${session.user == null}">
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                                href="#" role="button" th:text="${session.user.name}">
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">消息中心</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>