<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="description" content="
[hermit autoplay='false' mode='circulation' preload='auto']netease_songlist#:346075[hermit]
">
<head>
    
    
    <link crossorigin="anonymous" href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/editor.md-master/css/editormd.previewt.css" rel="stylesheet">
    <link href="/plugins/editor.md-master/css/editormd.min.css" rel="stylesheet"/>
    
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script crossorigin="anonymous" src="js/bootstrap.min.js"></script>
    <script src="/plugins/editor.md-master/editormd.min.js"></script>
    
    
    <script src="/plugins/Hermit-X-master/assets/js/APlayer.min.js"></script>
    <script src="/plugins/Hermit-X-master/assets/js/hermit-load.js"></script>
    <!--<script src="/plugins/Hermit-X-master/assets/js/"></script>-->
    <!--<script src="/plugins/Hermit-X-master/assets/js/"></script>-->
    <link href="/plugins/Hermit-X-master/assets/css/APlayer.min.css" rel="stylesheet">
    <!--<link href="/plugins/Hermit-X-master/assets/css/APlayer.min.css" rel="stylesheet">-->
    <!--<link href="/plugins/Hermit-X-master/assets/css/" rel="stylesheet">-->

</head>

<body>
    <div th:insert="up::up"></div>
    
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="row" style="padding: 15px;">
        dasjifnaiogn esjigns jdslnfbdsf;kl
        </div>
    </div>
    <div th:insert="down::down"></div>
    
</body>

