<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 引入资源 -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/homePage.js"></script>
</head>

<div th:replace="~{header::headerBar}"></div>

模拟ajax，看看到底能不能存到数据库
<script>
    
    $(function () {
        let  data="{" +
            "\t\"content\":\"经验+33，告辞\",\n" +
            "\t\"creator\":4,\n" +
            "\t\"article\":39,\n" +
            "\t\"parent\":-1" +
            "}";
        
        
        $.ajax({
            url: '/comment',
            dataType: 'text',
            type: 'POST',
            async: false,
            data: data,
            processData: false, // 使数据不做处理
            contentType: false, // 不要设置Content-Type请求头
            success: function (msg) {
                $("#musicUploadMsg").attr("data-content", msg);
            },
            error: function (msg) {
                $("#musicUploadMsg").attr("data-content", msg);
            }
        });
    })
    
</script>