<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="header"></div>
</head>



<input type="file" accept=".jpg" id="upFile">
<button id="upload">上传</button>

<script>
    $('#upload').click(function () {

        var theFile = $('#upFile')[0].files[0];
        var formData = new FormData();
        formData.append("theFile",theFile);

        $.ajax({
            url:'/publish/upload',
            dataType:'json',
            type:'POST',
            async: false,
            data: formData,
            processData : false, // 使数据不做处理
            contentType : false, // 不要设置Content-Type请求头
            success: function(data){},
            error:function(response){}
        });
    })
</script>