<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入资源 -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<hr>
<hr>
<a
        class="btn btn-lg btn-danger"
        data-content="<hr>"
        data-toggle="popover"
        data-trigger="focus"
        role="button"
        tabindex="0">
    可消失的弹出框
</a>

<script>
    $(function () {


        var account_id = "{$Think.session.user}";
        console.log(account_id)
        $('[data-toggle="popover"]').popover()
    })
</script>
