<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script crossorigin="anonymous" src="/js/bootstrap.min.js"></script>

    
    <script src="/js/APlayer.js"></script>
    <link href="/css/APlayer.css" rel="stylesheet">

</head>

<body>
    <div class="demo">
        <p><strong>aplayer音乐播放器</strong></p>
        <div class="aplayer" id="player1">
        <pre class="aplayer-lrc-content">
            </pre>
        </div>
    </div>
    <script>
        var ap = new APlayer
        ({
            element: document.getElementById('player1'),
            narrow: false,
            autoplay: true,
            showlrc: true,
            music: {
                title: '遇见',
                author: '孙燕姿',
                url: '/test/7!! - 恋のレシピ.mp3',
                pic: '/Alex%20G%20-%20Butterflies.mp3'
            }
        });
        ap.init();
    </script>
</body>

<!--  "F:\MUSIC\Music\Alex G - Butterflies.mp3" file://localhost/F:/MUSIC/Music/Alex%20G%20-%20Butterflies.mp3
//fuck  http://localhost:8080/test3
网易音乐id变直连
http://music.163.com/song/media/outer/url?id=【id】.mp3


-->


<!--
酷狗
歌名：眼泪
歌曲
https://webfs.yun.kugou.com/202002290243/9212a13ed677ad20fab4b810fd5d440d/G195/M03/1B/11/Aw4DAF5U-W-ACHqoADReXne-sNo727.mp3
封面
https://p3fx.kgimg.com/stdmusic/20200225/20200225183316286225.jpg
酷狗加不上来



qq音乐能力有限啊，id我都找不到
只能网易音乐，到时候再加个本地音乐

-->