<head>

    <link rel="stylesheet" href="test/style.css?" type="text/css" media="all">
   
    <!-- 引入资源 -->
    
    <!--bootstrap.css-->
    <link crossorigin="anonymous" href="css/bootstrap.css" rel="stylesheet">
    <!--editorMd.css-->
    <link href="/plugins/editor.md-master/css/editormd.preview.css" rel="stylesheet">
    <link href="/plugins/editor.md-master/css/editormd.css" rel="stylesheet"/>
    <!--jquery.js-->
    <script src="/js/jquery-3.4.1.js"></script>
    <!--bootstrap.js-->
    <script crossorigin="anonymous" src="js/bootstrap.js"></script>
    <!--editorMd.js-->
    <script src="/plugins/editor.md-master/editormd.js"></script>
    
    
    
    <link rel="stylesheet" href="/plugins/Hermit-X-master/assets/css/APlayer.min.css">
    <link rel="stylesheet" href="/plugins/Hermit-X-master/assets/css/hermit-library.css">
    <link rel="stylesheet" id="hermit-post-css" href="/plugins/Hermit-X-master/assets/css/hermit-post.css" media="all">
    
    
    <script src="/plugins/Hermit-X-master/assets/js/lib/handlebars.js"></script>
    <script src="/plugins/Hermit-X-master/assets/js/lib/watch.js"></script>
    <script src="/plugins/Hermit-X-master/assets/js/lib/jquery.mxpage.js"></script>
    <script src="/plugins/Hermit-X-master/assets/js/lib/jquery.mxloader.js"></script>
    <script src="/plugins/Hermit-X-master/assets/js/lib/jquery.mxlayer.js"></script>
    <script src="/plugins/Hermit-X-master/assets/js/lib/hermit-load.js"></script>
    
    
    <script src="/plugins/Hermit-X-master/assets/js/hermit-post.js"></script>
    <script src="/plugins/Hermit-X-master/assets/js/hermit-load.js"></script>
    <script src="/plugins/Hermit-X-master/assets/js/hermit-library.js"></script>
    <script src="/plugins/Hermit-X-master/assets/js/APlayer.min.js"></script>




</head>



<body class="wp-admin wp-core-ui js acf-admin-5-3 post-new-php auto-fold admin-bar post-type-post branch-5-3 version-5-3-2 admin-color-blue locale-zh-cn no-customize-support svg sticky-menu"
        style="position: static;">
    
    <div id="wpwrap">
        
        <div id="wpcontent">
            
            <div id="wpbody" role="main">
                
                <div id="wpbody-content" style="overflow: hidden;">
                    
                    <div class="wrap">
                        
                        <form action="post.php" id="post" method="post" name="post" target="">
                            <input id="_wpnonce" name="_wpnonce" type="hidden" value="ee2cd71aa5"><input name="_wp_http_referer"
                                type="hidden" value="/wp-admin/post-new.php"><input id="user-id" name="user_ID"
                                type="hidden" value="189557">
                            <input id="hiddenaction" name="action" type="hidden" value="editpost">
                            <input id="originalaction" name="originalaction" type="hidden" value="editpost">
                            <input id="post_author" name="post_author" type="hidden" value="189557">
                            <input id="post_type" name="post_type" type="hidden" value="post">
                            <input id="original_post_status" name="original_post_status" type="hidden"
                                    value="auto-draft">
                            <input id="referredby" name="referredby" type="hidden" value="">
                            <input name="_wp_original_http_referer" type="hidden" value=""><input id="auto_draft"
                                name="auto_draft" type="hidden" value=""><input id="post_ID" name="post_ID"
                                type="hidden" value="263398"><input id="meta-box-order-nonce" name="meta-box-order-nonce"
                                type="hidden" value="d9ab36a0eb"><input id="closedpostboxesnonce"
                                name="closedpostboxesnonce" type="hidden" value="3158cb1d02">
                            
                            <div id="poststuff">
                                <div class="metabox-holder columns-2" id="post-body">
                                    <div id="post-body-content" style="position: relative;">
                                        
                                        <!-- /titlediv -->
                                        
                                        <div class="postarea wp-editor-expand" id="postdivrich">
                                            
                                            <div class="wp-core-ui wp-editor-wrap tmce-active has-dfw"
                                                    id="wp-content-wrap"
                                                    style="padding-top: 70px;">
                                                <link href="https://acg18.moe/wp-includes/css/editor.min.css" id="editor-buttons-css"
                                                        media="all"
                                                        rel="stylesheet">
                                                <div class="wp-editor-tools hide-if-no-js" id="wp-content-editor-tools"
                                                        style="position: absolute; top: 0px; width: 2698px;">
                                                    <div class="wp-media-buttons" id="wp-content-media-buttons"><a
                                                            class="button" href="javascript:" id="hermit-create"
                                                            title="添加音乐"><img
                                                            height="16"
                                                            src="https://acg18.moe/wp-content/plugins/Hermit-X-master/assets/images/logo@2x.png" width="16"> 添加音乐</a></div>
                                                </div>
                                            </div>
                                            
                                            <script>window._smileySettings = {
                                                "smilies": {
                                                    ":1:": "1.gif",
                                                    ":2:": "2.jpg",
                                                    ":3:": "3.jpg",
                                                    ":4:": "4.gif",
                                                    ":5:": "5.jpg",
                                                    ":6:": "6.jpg",
                                                    ":7:": "7.jpg",
                                                    ":8:": "8.jpg",
                                                    ":9:": "9.jpg",
                                                    ":10:": "10.jpg",
                                                    ":11:": "11.jpg",
                                                    ":12:": "12.jpg",
                                                    ":13:": "13.gif",
                                                    ":14:": "14.jpg",
                                                    ":15:": "15.jpg",
                                                    ":16:": "16.jpg",
                                                    ":17:": "17.jpg",
                                                    ":18:": "18.jpg",
                                                    ":19:": "19.gif",
                                                    ":20:": "20.jpg",
                                                    ":21:": "21.jpg",
                                                    ":22:": "22.jpg",
                                                    ":23:": "23.jpg",
                                                    ":24:": "24.jpg",
                                                    ":25:": "25.jpg",
                                                    ":26:": "26.jpg",
                                                    ":27:": "27.gif",
                                                    ":28:": "28.jpg",
                                                    ":29:": "29.jpg",
                                                    ":30:": "30.jpg",
                                                    ":31:": "31.jpg",
                                                    ":32:": "32.jpg",
                                                    ":33:": "33.jpg",
                                                    ":34:": "34.jpg",
                                                    ":35:": "35.gif",
                                                    ":36:": "36.gif",
                                                    ":37:": "37.jpg",
                                                    ":38:": "38.gif",
                                                    ":39:": "39.gif",
                                                    ":40:": "40.gif"
                                                },
                                                "src_url": "https:\/\/acg18.moe\/wp-content\/themes\/wpdx\/assets\/images\/smilies\/"
                                            }</script>
                                        
                                        </div>
                                    </div><!-- /post-body-content -->
                                
                                
                                </div><!-- /post-body -->
                            
                            </div><!-- /poststuff -->
                        </form>
                    </div>
                    
                    
                    <script type="text/javascript">
                        try {
                            document.post.title.focus();
                        } catch (e) {
                        }
                    </script>
                
                </div><!-- wpbody-content -->
            </div>
        </div><!-- wpcontent -->
    </div>
    
    <div id="hermit-shell">
        <div id="hermit-shell-content" class="media-modal">
            <div class="media-modal-content">
                <a id="hermit-shell-close" class="media-modal-close" href="javascript:;"><span class="media-modal-icon"><span class="screen-reader-text">关闭媒体面板</span></span></a>
                
                <div id="hermit-shell-body">
                    <div class="media-frame-title">
                        <h1>插入音乐<span class="dashicons dashicons-arrow-down"></span></h1>
                    </div>
                    
                    
                    
                    <div class="media-frame-router clearfix">
                        <div class="media-router">
                            <a href="javascript:;" class="media-menu-item active">网易音乐</a>
                            <a href="javascript:;" class="media-menu-item">虾米音乐</a>
                            <a href="javascript:;" class="media-menu-item">腾讯音乐</a>
                            <a href="javascript:;" class="media-menu-item">酷狗音乐</a>
                            <a href="javascript:;" class="media-menu-item">千千音乐</a>
                            <a href="javascript:;" class="media-menu-item">本地音乐</a>
                        </div>
                    </div>
                    
                    
                    <div class="media-frame-content">
                        <ul class="hermit-ul">
                            <li class="hermit-li active" data-type="netease">
                                <div>
                                    <label><input type="radio" name="netease_type" value="netease_songlist" checked="checked">单曲</label>
                                    <label><input type="radio" name="netease_type" value="netease_album">专辑</label>
                                    <label><input type="radio" name="netease_type" value="netease_playlist">歌单</label>
                                </div>
                                <textarea class="hermit-textarea large-text code" cols="30" rows="9" placeholder="输入网易云音乐音乐地址……"></textarea>
                            </li>
                            <li class="hermit-li" data-type="xiami">
                                <div>
                                    <label><input type="radio" name="xiami_type" value="xiami_songlist" checked="checked">单曲</label>
                                    <label><input type="radio" name="xiami_type" value="xiami_album">专辑</label>
                                    <label><input type="radio" name="xiami_type" value="xiami_playlist">精选集</label>
                                </div>
                                <textarea class="hermit-textarea large-text code" cols="30" rows="9" placeholder="输入虾米音乐地址……"></textarea>
                            </li>
                            <li class="hermit-li" data-type="tencent">
                                <div>
                                    <label><input type="radio" name="tencent_type" value="tencent_songlist" checked="checked">单曲</label>
                                    <label><input type="radio" name="tencent_type" value="tencent_album">专辑</label>
                                    <label><input type="radio" name="tencent_type" value="tencent_playlist">歌单</label>
                                </div>
                                <textarea class="hermit-textarea large-text code" cols="30" rows="9" placeholder="输入QQ音乐地址……"></textarea>
                            </li>
                            <li class="hermit-li" data-type="kugou">
                                <div>
                                    <label><input type="radio" name="kugou_type" value="kugou_songlist" checked="checked">单曲</label>
                                    <label><input type="radio" name="kugou_type" value="kugou_album">专辑</label>
                                    <label><input type="radio" name="kugou_type" value="kugou_playlist">歌单</label>
                                </div>
                                <textarea class="hermit-textarea large-text code" cols="30" rows="9" placeholder="直接输入酷狗音乐歌曲/专辑/播放列表ID
如不知道歌曲 ID, 可使用 https://api.lwl12.com/music/kugou/search?output=pre&amp;keyword=歌曲名 进行搜索。
将该页面返回结果中 [id] => 后字符串复制至该输入框即可。
（PS：[name] => 对应歌名，[artist] => 对应所有歌手名）"></textarea>
                            </li>
                            <li class="hermit-li" data-type="baidu">
                                <div>
                                    <label><input type="radio" name="baidu_type" value="baidu_songlist" checked="checked">单曲</label>
                                    <label><input type="radio" name="baidu_type" value="baidu_album">专辑</label>
                                    <label><input type="radio" name="baidu_type" value="baidu_playlist">歌单</label>
                                </div>
                                <textarea class="hermit-textarea large-text code" cols="30" rows="9" placeholder="输入千千音乐地址……"></textarea>
                            </li>
                            <li class="hermit-li" data-type="remote">
                                <div id="hermit-remote-content">
                                    <ul></ul>
                                    <div class="hermit-remote-footer">
                                        <a id="hermit-remote-button" href="javascript:;">加载更多</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        
                        
                        <div>
                            <label for="hermit-auto"><input type="checkbox" id="hermit-auto">自动播放</label>
                            <label for="hermit-mode"><select id="hermit-mode">
                                <option value="circulation" selected="">循环播放</option>
                                <option value="random">随机播放</option>
                                <option value="order">顺序播放</option>
                                <option value="single">单曲循环</option>
                            </select></label>
                            <label for="hermit-preload"><select id="hermit-preload">
                                <option value="auto" selected="">自动预加载</option>
                                <option value="metadata">元数据</option>
                                <option value="none">无</option>
                            </select></label>
                        </div>
                        <div id="hermit-preview">
                        </div>
                    </div>
                    
                    
                    
                    <div class="media-frame-toolbar">
                        <div class="media-toolbar">
                            <div class="media-toolbar-primary search-form">
                                <a id="hermit-shell-insert" href="javascript:;" class="button media-button button-primary button-large media-button-insert" disabled="disabled">插入至文章</a>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
        <div id="hermit-shell-backdrop" class="media-modal-backdrop">
        </div>
    </div>
</body>