<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ren.aiernory.blog.mapper.LabelMapper">
    
    <!--文章打开显示时调用-->
    <select id="getNameById" parameterType="Integer" resultType="String">
        select name
        from label
        where id = #{id}
    </select>
    
    <!--检测name是否存在，返回id。不存在null-->
    <select id="checkName" parameterType="String" resultType="Integer">
        select id
        from label
        where name = #{name}
    </select>
    <!--阅读数增加-->
    <update id="incCount" parameterType="Integer" >
        update label
        set count = count+1
        where id = #{id}
    </update>
    
    <!--添加新的词条,返回id-->
    <insert id="addLabel" parameterType="ren.aiernory.blog.model.Label" useGeneratedKeys="true" keyProperty="id">
        insert into label(name,count)
        VALUES (#{name},#{count})
    </insert>
    
    
    <!--查找一个文章的labels-->
    <select id="getLabelsByArticleId" parameterType="Integer" resultType="Integer">
        select l_id
        from article_label
        where p_id = #{articleId}
    </select>
    
    <!--insert article_label表-->
    <insert id="insertToArticleLabel" parameterType="ren.aiernory.blog.model.ArticleLabel">
        insert into article_label(p_id,l_id)
        VALUES (#{pId},#{lId})
    </insert>
    
    <!--根据label找到article。查询功能-->
    <select id="getArticlesByLabelId" parameterType="Integer" resultType="Integer">
        select p_id
        from article_label
        where l_id = #{labelId}
    </select>
    
    <!--search使用-->
    <select id="getIdByName" parameterType="String" resultType="Integer">
        select id
        from label
        where name = #{name}
    </select>
    
</mapper>