<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ren.aiernory.blog.mapper.PublishMapper">
    
    <!--publish表、user表全部信息-->
    <resultMap id="publishWithAuthor" type="ren.aiernory.blog.model.Publish">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <result property="descriptionCode" column="description_code"/>
        <result property="descriptionDoc" column="description_doc"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="creator" column="creator"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="musicStatus" column="music_status"/>
        <result property="musicContent" column="music_content"/>
        <association property="author" javaType="ren.aiernory.blog.model.User" fetchType="lazy">
            <id property="id" column="creator"/>
            <result property="name" column="name"/>
            <result property="bio" column="bio"/>
            <result property="avatarUrl" column="avatar_url"/>
        </association>
    </resultMap>
    
    <!--给分页展示用的，简略信息-->
    <resultMap id="publishWithAuthorForPageList" type="ren.aiernory.blog.model.Publish">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <result property="descriptionDoc" column="descriptionDoc"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="creator" column="creator"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <association property="author" javaType="ren.aiernory.blog.model.User" fetchType="lazy">
            <id property="id" column="creator"/>
            <result property="name" column="name"/>
            <result property="avatarUrl" column="avatar_url"/>
        </association>
    </resultMap>
    
    <!--带有作者信息、评论、文章内容-->
    <resultMap id="publishWithAuthorAndComment" type="ren.aiernory.blog.model.Publish">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <result property="descriptionCode" column="description_code"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="musicStatus" column="music_status"/>
        <result property="musicContent" column="music_content"/>
        <association property="author" javaType="ren.aiernory.blog.model.User" fetchType="lazy">
            <id property="id" column="id1"/>
            <result property="name" column="name1"/>
            <result property="bio" column="bio1"/>
            <result property="avatarUrl" column="avatarUrl1"/>
        </association>
        <collection property="comments" ofType="ren.aiernory.blog.model.Comment">
            <id property="id" column="c_id"/>
            <result property="content" column="c_content"/>
            <result property="parent" column="c_parent"/>
            <result property="likeCount" column="c_like_count"/>
            <result property="commentCount" column="c_comment_count"/>
            <result property="gmtCreate" column="c_gmt_create"/>
            <result property="gmtModified" column="c_gmt_modified"/>
            <association property="author" javaType="ren.aiernory.blog.model.User" fetchType="lazy">
                <id property="id" column="id2"/>
                <result property="name" column="name2"/>
                <result property="bio" column="bio2"/>
                <result property="avatarUrl" column="avatarUrl2"/>
            </association>
        </collection>
    </resultMap>
    
    
    <!--全部文章分页,home页面的列表-->
    <select id="listAllWithUserByPage" resultMap="publishWithAuthorForPageList">
        select p.*,concat(left(p.description_doc,200),'...') as descriptionDoc,u.id,u.name,u.avatar_url
        from publish AS p,user AS u
        where u.id=p.creator
        <if test="order == 1" >
            order by p.id desc
        </if>
        <if test="order == 2" >
            order by p.id asc
        </if>
        <if test="order == 3" >
            order by gmt_modified desc
        </if>
        <if test="order == 4" >
            order by gmt_modified asc
        </if>
        <if test="order == 5" >
            order by comment_count desc
        </if>
        <if test="order == 6" >
            order by comment_count asc
        </if>
        limit #{page},#{size}
    </select>
    
    
    <!--总数，分页信息统计-->
    <select id="getTotalCount" resultType="Integer">
        select count(1)
        from publish
    </select>
    
    
    
    <!--用户文章分页，个人信息-->
    <select id="listByCreatorWithUserByPage" resultMap="publishWithAuthorForPageList">
        select p.*,u.id,u.name,u.avatar_url
        from publish AS p,user AS u
        where u.id=#{user.id} and u.id=p.creator
        limit #{page},#{size}
    </select>
    
    
    
    <!--用户的文章数，个人信息分页-->
    <select id="getTotalCountByCreator" resultType="Integer">
        select count(1)
        from publish
        where creator=#{user.id}
    </select>
    
  
    <!--结果带上user，打开文章时（评论时获取存在与否信息，这点需要改变、简化）-->
    <select id="selectByIdWithComments" parameterType="Integer" resultMap="publishWithAuthorAndComment">
        SELECT pub.*,
        user1.id id1,user1.name name1,user1.bio bio1,user1.avatar_url avatarUrl1,
        com.id c_id,
        com.content c_content,
        com.parent c_parent,
        com.like_count c_like_count,
        com.comment_count c_comment_count,
        com.gmt_create c_gmt_create,
        com.gmt_modified c_gmt_modified,
        com.creator c_creator,
        user2.id id2,user2.name name2,user2.bio bio2,user2.avatar_url avatarUrl2
        FROM publish pub
        LEFT JOIN user user1 ON pub.creator = user1.id
        LEFT JOIN comment com ON pub.id = com.article
        LEFT JOIN user user2 ON com.creator = user2.id
        WHERE pub.id=#{id}
    </select>
    
    
    
    <select id="selectByIdWithAuthor" parameterType="Integer" resultMap="publishWithAuthor">
        select p.*,u.id,u.name,u.bio,u.avatar_url
        from publish p,user u
        where p.id = #{id} and u.id=p.creator
    </select>
    
    
    <!--检测是否存在-->
    <select id="verify" parameterType="Integer" resultType="Integer">
        select p.id
        from publish p
        where p.id = #{id}
    </select>
    
    
    <!--阅读数增加-->
    <select id="incView" parameterType="Integer" resultType="Integer">
        update publish
        set view_count = view_count+1
        where id = #{id}
    </select>
    
    
    <!--评论数增加-->
    <select id="incComment" resultType="Integer">
        update publish
        set comment_count = comment_count+1,gmt_modified = #{time}
        where id = #{id}
    </select>
    
  
    <!--全部文章分页,home页面的列表。再加上分类功能-->
    <select id="listAllWithUserByPageBySort" resultMap="publishWithAuthorForPageList">
        select p.*,concat(left(p.description_doc,200),'...') as descriptionDoc,u.id,u.name,u.avatar_url
        from publish AS p,user AS u
        WHERE p.id IN ${sorts}
        AND p.creator=u.id
        <if test="order == 1" >
            order by p.id desc
        </if>
        <if test="order == 2" >
            order by p.id asc
        </if>
        <if test="order == 3" >
            order by gmt_modified desc
        </if>
        <if test="order == 4" >
            order by gmt_modified asc
        </if>
        <if test="order == 5" >
            order by comment_count desc
        </if>
        <if test="order == 6" >
            order by comment_count asc
        </if>
        limit #{page},#{size}
    </select>







</mapper>