<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ren.aiernory.blog.mapper.UserMapper">

    <select id="selectByAccountId" parameterType="String" resultType="ren.aiernory.blog.model.User">
        select * from user where #{accountId} = account_id;
    </select>
    <select id="selectByToken" parameterType="String" resultType="ren.aiernory.blog.model.User">
        select * from user where #{accountId} = token;
    </select>
</mapper>